APP_PORT=8086
APP_NAME=ai-screening-service

EUREKA_SERVER_URL=http://localhost:8761/eureka
EUREKA_INSTANCE_HOST=localhost

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=ai-screening-service
KAFKA_TOPIC_ORDER_CREATED=order.created
KAFKA_TOPIC_SCREENING_COMPLETED=screening.completed
