# 로컬 직접 실행용 개발 설정 (docker-compose 는 환경변수로 값을 주입)
APP_PORT=8085
APP_NAME=python-service-template

EUREKA_SERVER_URL=http://localhost:8761/eureka
EUREKA_INSTANCE_HOST=localhost

JWT_ISSUER_URI=http://localhost:9000
JWK_SET_URI=http://localhost:9000/oauth2/jwks

TARGET_SERVICE_URL=http://localhost:8081

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=python-service-template
KAFKA_TOPIC_INBOUND=sample.created
KAFKA_TOPIC_OUTBOUND=python.processed
